<mat-card>
    <mat-card-content>
        <h2>
            Employee DashBoard
        </h2>
        <table class="employee-table" >
         <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Address</th>
            <th>PhoneNumber</th>
        </tr> 
        <tr *ngFor="let employee of employees">

                <td>{{employee.name}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.phoneNumber}}</td>
            </tr>
          
    
        </table>
    </mat-card-content>
</mat-card>
